* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  display: none;
  margin: 20px auto;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.container {
  max-width: 1440px;
  padding: 0 156px;
  margin: 0 auto;
  /* position: relative; */
}

.form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.card a {
  height: 100%;
  display: block;
  text-decoration: none;
  font-family: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.card {
  width: calc((100% - 48px) / 3);
  height: 200px;
  border: 1px solid #808080;
}

.img-info {
  display: flex;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.bold {
  font-weight: 600;
  line-height: 1.33333;
}

.card img {
  height: 156px;
  object-fit: cover;
}

[data-showMore] {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}
