/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

.index-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.btn-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  font-size: 20px;
  background-color: #2069d6;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3),
    3px 3px 6px rgba(255, 255, 255, 0.15) inset;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out,
    transform 100ms ease-in-out;
}

.btn-index:hover {
  background-color: #1a5abc;
  box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.4),
    4px 4px 8px rgba(255, 255, 255, 0.15) inset;
}
