.timer-wrapper {
  width: 355px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

#datetime-picker {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 240px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

button:hover {
  background-color: #499ffa;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.value {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.label {
  font-size: 14px;
  color: #666;
}
